.car-card {
  transition: all 0.15s ease-in-out;
}

.car-card:hover {
  cursor: pointer;
  /* border: 1px solid #333333; */
}

.no-wrap {
  white-space: nowrap;
}

.car-thumbnail {
  margin: auto;
  width: 100%;
  max-width: 300px;
  max-height: 250px;
  overflow: hidden;
}

.car-thumbnail-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reserve-button {
  width: 120px;
}

.search-card-form {
  width: 90%;
  margin: auto;
}

.banner {
  max-width: 1000px;
  padding: 50px 0px 50px 0px;
  margin: auto;
}