.car-card {
  transition: all 0.15s ease-in-out;
}

.car-card:hover {
  cursor: pointer;
  transform: scale(1.01);
  border: 1px solid #000000;

}

.no-wrap {
  white-space: nowrap;
}

.car-thumbnail-container {
  height: 200px;
  width: 350px;
  overflow: hidden;
}

.reserve-button {
  width: 120px;

}