.car-card {
  transition: all 0.15s ease-in-out;
}

.car-card:hover {
  cursor: pointer;
  /* border: 1px solid #333333; */
}

.no-wrap {
  white-space: nowrap;
}

.car-thumbnail-container {
  height: 200px;
  width: 350px;
  overflow: hidden;
}

.reserve-button {
  width: 120px;
}

.search-card-form {
  width: 90%;
  margin: auto;
}

.banner {
  padding: 20px 0px 70px 100px;
}